<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cancel payment</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="sc-contianer">
        <h1>Something Went Wrong!</h1>
        <p>We apologies for inconvenience, but an error occured while processing your order request.</p>
        <p>For Any Support Email: support@company.com</p>
        <img src="/images/cancel_icon.png" alt="">
        <a href="#" class="sc-btn">Back to HomePage</a>
    </div>
</body>
</html>