<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success payment</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="sc-contianer">
        <h1>Payment Successful</h1>
        <p>Your order will arrive in 2 business days.</p>
        <img src="/images/success_icon.jpg" alt="">
        <a href="#" class="sc-btn">Back to HomePage</a>
    </div>
</body>
</html>